body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #a3c6e0;
    color: white;
}

.title{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 150px 1fr 150px;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    
}
/* title grid */
.logo{
    width: 150px;
    height: auto;
}
.heading{
    font-size: 60px;
    text-transform: uppercase;
 
}


/*  */
.main{
    display: grid;
    align-items: center;
    font-size: 20px;
    padding-top: 80px;
}

.main p{
    margin: 0;
    font-size: 25px;
    font-family: monospace;
    letter-spacing: 3px;
    line-height: 3;
}


/* navigation bar */
ul{
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}


li a,.dropbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px 50px;
    font-weight: bolder;
}

li a:hover {
    color: #2e38c9
}

li.dropdown {
    display: inline-block;
}
.dropbtn{
    font-size: 20px;
    background-color: blueviolet;
    margin-left: 10px;
}
.dropdown-content{

    position: absolute;
    background-color:  #578bbe;
    box-shadow: 0px 2px 10px black;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;

}

